<div class="container contact_us">
	<div class="row mt-2 mb-3 pl-3">
		<span><a href="/books">Home <i class="fas fa-angle-double-right"></i></a> Contact us</span>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div id="map"></div>
		</div>

		
		<div class="col-md-6 mt-3">
			<div><h2>The Office</h1></div>
			<div>
				<h3><strong>Address:</strong>  No 27 Cac Road, gbanda, Ibadan</h3>
				<h3><strong>Phone:</strong>  0806 740 5858</h3>
				<h3><strong>Email:</strong> hello@jerquestore.com.ng</h3>
			</div>
		
			<div><h2>Business Hours</h1></div>
			<div>
				<h3>Monday - Friday 9am to 5pm</h3>
				<h3>Saturday - 10am to 5pm</h3>
				<h3>Sunday - Closed</h3>
			</div>
		</div>
	</div>
</div>






