<div class="container contact_us">
	<div class="row mt-2">
		<span><a href="/books">Home <i class="fas fa-angle-double-right"></i></a> Contact us</span>
	</div>
	<div class="row">
		<div class="col-md-6">
			<h2>Google Map goes here</h2>
		</div>
		<div class="col-md-6">
			<div><h2>The Office</h1></div>
			<div>
				<h3><strong>Address:</strong> 28, Ogunlana Drive, Surulere, Lagos</h3>
				<h3><strong>Phone:</strong> (234) 09092158968</h3>
				<h3><strong>Email:</strong> hello@rhbooks.com.ng</h3>
			</div>
		
			<div><h2>Business Hours</h1></div>
			<div>
				<h3>Monday - Friday 9am to 5pm</h3>
				<h3>Saturday - 10am to 5pm</h3>
				<h3>Sunday - Closed</h3>
			</div>
		</div>
	</div>
</div>

