<diV class="container">
<div class="row">
	<div style="width: 33.3%; margin: 25px auto;"> 
		<h2 class="" style="text-align: center"> Book limit Settings</h2>
		<form action="/admin/save_settings" method="post">
			<div class="form-group">
				<label for="limit"></label>
				<input class="form-control" id="limit" type="text" name="book_limit" value="<%= bookLimit.book_limit%>">
			</div>
			<input class="form-control"  type="hidden" name="_csrf" value="<%= csrfToken%>">
		    <button type="submit" class="btn btn-lg btn-primary btn-block">Save settings</button>
		</form>
		<a href="/books"><i class="fa fa-arrow-left"></i> Go back</a>
	</div> 
</div>
</diV>