<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width-device-width, initial-scale=1">
         <!-- <link rel="stylesheet" href="/css/reset.css"> -->
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=poppins:400,500,700">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
       <!--  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
        
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/forms.css">
        <link rel="stylesheet" href="/css/starability-basic.min.css">
       <!--  <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
        <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
        <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
        <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
        <script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
        <script defer src="https://unpkg.com/filepond/dist/filepond.js"></script>
        <script defer src="/javascripts/fileUpload.js"></script> -->
        <script defer src="/javascripts/main.js"></script>
        <script defer src="/javascripts/map.js"></script>
        <script src="https://cdn.ckeditor.com/4.13.0/standard-all/ckeditor.js"></script>
   <!-- <script src="//cdn.ckeditor.com/4.13.0/full/ckeditor.js"></script> -->
         
         <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"> </script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"> </script>
        <title>JereQue Online Shopping Store</title>
   </head>
    <body>
        <%- include('../partials/header.ejs') %>
         <%- body %>


<!-- section boxes -->
<div class="container-fluid mt-4 p-3">
    <div class="boxes">
        <div class="box">
            <i class="fas fa-chart-pie fa-3x"> </i>
            <h3>Great Prices</h3>
            <p>We offer competitive prices on our 100 million plus product range..</p>
        </div>
        <div class="box">
            <i class="fas fa-globe fa-3x"> </i>
            <h3>Nationwide Delivery</h3>
            <p>With sites in 5 languages, we ship to over 200 countries & regions.</p>
        </div>
        <div class="box">
            <i class="fas fa-cog fa-3x"> </i>
            <h3>Safe Payment</h3>
            <p>Pay with the world’s most popular and secure payment methods..</p>
        </div>
        <div class="box">
             <i class="fas fa-users fa-3x" > </i>
            <h3>24/7 Help Center</h3>
            <p>Round-the-clock assistance for a smooth shopping experience..</p>
        </div>
    </div>
</div>


<hr class="my-4">
<!--connect container fluid -->
<div class="container-fluid padding">
    <div class="row text-center padding">
        <div class="col-12">
            <h2>Connect</h2>
            <div class="col-12 social padding">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-goggle-plus-g"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
    </div> 
</div>

<!--Footer -->
<footer>
<div class="container-fluid padding">
    <div class="row text-center">
        <div class="col-md-4">
            <img src="" class="" alt="Company Logo">
            <hr class="light">
            <p>555-5555-5555</p>
            <p>Dan@emial.com</p>
            <p>100 street Name</p>
            <p>Cit, State, 0000</p>
        </div> 
         <div class="col-md-4">
            <hr class="light">
            <h5>Our Hours</h5>
            <hr class="light">
            <p>Monday: 9am - 5pm</p>
            <p>Saturday: 10am -4pm</p>
            <p>Sunday: Closed</p>
        </div>
        <div class="col-md-4">
            <hr class="light">
            <h5>Service Area</h5>
            <hr class="light">
            <p>City, State, address</p>
            <p>City, State, address</p>
            <p>City, State, address</p>
        </div>
    </div> 

    <div class="col-12 text-center">
        <hr class="light-100">
        <p><strong>&copy www.domain.com</strong></p>
    </div>
</div>
</footer>
<!-- map script -->
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsgzJYbUWq5Wimyr7--3NqHWEezFYmSaM&callback=initMap" async defer></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 <!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

    </div> 
    </div>
 </body>
</html>


